h1 {color:#272727;
}

body {background-color: #282828;
	color: #01ff6b;
	font-size: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
	border: 10px solid #ee3e80;
	padding: 4px;
	width: 1800px;
	border-radius: 500px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p.one {
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777}
}

p{
	background-color:#282828;
	font-family: "Comic Sans MS", Comic Sans, cursive;
}

h1 {
	color: #01ff6b;
	font-family: "Comic Sans MS", Comic Sans, cursive;
}

a {
	background-color: #282828;
	color: #01ff6b;
	font-size: 50%;
	text-align: middle;
}