h1 {color:#272727;
}

body {background-color: #141414;
	color: #ffffff;
	font-size: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}


p.one {
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777}
}

p{
	background-color:#09090a;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	background-color:#141414;
	color: #01ff6b;
	font-size: 85%;
	text-align: middle;
}

ul {list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: show;
	background-color: #141414;
	text-align: center;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

li a, .fadein {
  -webkit-animation-name: fadein;
 -webkit-animation-duration: 2s;
 text-align: center;
 -webkit-transition: opacity 2s ease-in;

}

li {float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #01ff6b;
}
